[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
django-allauth = "*"
django-cors-headers = "*"
coreapi = "*"
django-rest-swagger = "*"


[dev-packages]

